     <section class="footer-section" >
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-2">
            <h4>U.K.A.D Togo</h4>
            <ul class="list-unstyled">
              <li><a href="">Nos Objectifs</a></li>
              <li><a href="/statuts">Nos Status</a></li>
              <li><a href="">Nos Membres </a></li>
              <li><a href="">Notre Budget</a></li>
              <li><a href="">Nos Partenaires</a></li>
             </ul>
          </div>
          <div class="col-xs-6 col-md-2">
            <h4>Nos Activites</h4>
            <ul class="list-unstyled">
              <li><a href="">Nos Realisations</a></li>
              <li><a href="">Calendrier des Evenement</a></li>
              <li><a href="">Rapports de reunions</a></li>
             </ul>
          </div>
          <div class="col-xs-12 col-md-4 text-center">
            
            <div class="panel bg-transparent margin-none">
              <div class="panel-body">
        			<p>
				<button class="btn btn-info btn-icon-stacked" ng-click="openInNewTab('https://www.facebook.com/profile.php?id=100011100343040')">
					<i class="fa fa-2x fa-facebook"></i> <span>Rejoignez-nous <br>Sur
						Facebook
					</span>
				</button>
				<button class="btn btn-primary btn-icon-stacked" ng-click="openInNewTab('https://twitter.com/ukadtogo')">
					<i class="fa fa-2x fa-twitter"></i> <span>Rejoignez-nous <br>Sur
						Twitter
					</span>
				</button>
				<button class="btn btn-inverse btn-icon-stacked" ng-click="openInNewTab('https://plus.google.com/u/0/107802844769259096446')">
					<i class="fa fa-2x fa-google-plus"></i> <span>Rejoignez-nous
						<br>Sur Gougle+
					</span>
				</button>
				<button class="btn btn-inverse btn-icon-stacked" ng-click="openInNewTab('https://www.linkedin.com/in/u-k-a-d-togo-e-v-b48a76112?trk=nav_responsive_tab_profile')">
					<i class="fa fa-2x fa-linkedin"></i> <span>Rejoignez-nous
						<br>Sur Linkedin
					</span>
				</button>

			</p>
          
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="panel bg-transparent margin-none">
              <div class="panel-body">
                <div class="form-group form-control-default">
                  <label for="email">Email:</label>
                  <input id="email" class="form-control" type="text" placeholder="Votre addresse E-mail.." />
                </div>
                <div class="form-group">
                  <button class="btn btn-pink-500">Souscrire</button>
                </div>

                <small class="help-block">* On ne va pas vendre votre email</small>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-md-4">
            
          </div>
        </div>
      </div>
    </section>
