<div id="carousel-example-generic"
	class="carousel slide cover overlay overflow-hidden max-height-100 cover-navbar-large-top margin-none"
	data-ride="carousel">

	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="images/ukad-main-min.jpg" alt="Slider" class="width-100pc">
		</div>
	</div>


</div>

<div class="bg-white">
	<div class="container">
		<div class="page-section">
			<form role="form" >
				<div class="alert alert-danger" ng-show="!mailSent && submitted">
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span>
					</button>
					::theMessage::
				</div>

				<div class="alert alert-success" ng-show="mailSent && submitted">
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span>
					</button>
					::theMessage::
				</div>

				<div class="form-group form-control-default required">
					<label for="subject1">Objet</label> <input ng-model="emailSubject"
						type="text" class="form-control" id="subject1" placeholder="Sujet">
				</div>

				<div class="container lighter">
					<div text-angular ng-model="emailBody"></div>
				</div>
				<div class="text-right">
					<button type="submit" ng-click="sendMail()" class="btn btn-primary">
						Envoyer <i class="fa fa-sign-in"></i>
					</button>
				</div>
			</form>
		
		</div>
		<br />
		<!-- // END .container -->

	</div>
	<!-- // END .bg-white -->

	<div ng-include="'pages/footer.html'"></div>
</div>
<!-- // END #content -->

