<div ng-include="'pages/menubg.html'"></div>
<div class="bg-white" ng-controller="userCtrl">
	<div class="container">
		<div class="row">
			<div class="item col-lg-9 col-md-6 col-xs-12">
				<div class="container">
					<div class="row" ng-show="paymentId">
						<div class="col-xs-12">
							<i class="fa fa-thumbs-up fa-5x text-green-300"> Merci pour
								votre payement</i>
							<hr />
							<div class="invoice-title">
								<h2>Recu - une copie vous a ete envoyee a l'email suivant:
									::pay.email::</h2>
								<h3 class="pull-right">Payement # ::pay.paymentId::</h3>
							</div>
							<hr>
							<div class="row">
								<div class="col-xs-6">
									<address>
										<strong>Payeur:</strong><br> ::pay.firstName||'
										'||pay.lastName:: <br> ::pay.baLine1::<br>
										::pay.baLine2:: <br> ::pay.baCity||', '||pay.baState||'
										'||pay.baPostalCode:: <br>::pay.baCountryCode::
									</address>
								</div>
								<div class="col-xs-6 text-right">
									<address>
										<strong>En faveur de:</strong><br> Association des
										Gabonais de Washington, D.C et ses Environs (A.G.W.E). <br>
										1234 Main<br> Washington DC, DC 54321
									</address>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<address>
										<strong>Mode de payment:</strong><br>
										::pay.paymentMethod::<br> ::pay.email::
									</address>
								</div>
								<div class="col-xs-6 text-right">
									<address>
										<strong>Date de payment:</strong><br> ::pay.createDate|date::<br>
										<br>
									</address>
								</div>
							</div>
						</div>
					</div>
					<br/>
					<button class="btn btn-success" ng-click="submitFee()" ng-show="!paymentId">Payer</button>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<strong>Veuillez payer vos frais de membre</strong>
									</h3>
								</div>
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-condensed">
											<thead>
												<tr>
													<td><strong>Libele</strong></td>
													<td class="text-center"><strong>Montant</strong></td>
													<td class="text-center"><strong>Quantite</strong></td>
													<td class="text-right"><strong>Total</strong></td>
												</tr>
											</thead>
											<tbody>
												<!-- foreach ($order->lineItems as $line) or some such thing here -->
												<tr>
													<td>Frais annuel de membre</td>
													<td class="text-center">$::theUser.fee::</td>
													<td class="text-center">1</td>
													<td class="text-right">$::theUser.fee::</td>
												</tr>

												<tr>
													<td class="thick-line"></td>
													<td class="thick-line"></td>
													<td class="thick-line text-center"><strong>Sous-total</strong></td>
													<td class="thick-line text-right">$::theUser.fee::</td>
												</tr>
												<tr>
													<td class="no-line"></td>
													<td class="no-line"></td>
													<td class="no-line text-center"><strong>Tax</strong></td>
													<td class="no-line text-right">$0</td>
												</tr>
												<tr>
													<td class="no-line"></td>
													<td class="no-line"></td>
													<td class="no-line text-center"><strong>Total</strong></td>
													<td class="no-line text-right">$::theUser.fee::</td>
												</tr>
												<tr>
													<td class="no-line"></td>
													<td class="no-line"></td>
													<td class="no-line text-center"> </td>
													<td class="no-line text-right"> <button class="btn btn-success" ng-click="submitFee()" ng-show="!paymentId">Payer</button></td>
												</tr>
											</tbody>
										</table>
										
									</div>
									
								</div>
							</div>
						</div>	
											
					</div>					
					
				</div>

			</div>
			<div class="item col-lg-3 col-md-6 col-xs-12">
				<div class="page-section">
					<div ng-include="'pages/sidebar.html'"></div>
				</div>
			</div>
		</div>
	</div>
	<br />

</div>
<!-- // END .bg-white -->


<!-- // END #content -->

