
<section class="footer-section" ng-controller="userCtrl" style="background-color: transparent; height:100px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-2" ng-controller="weblinkCtrl">	
				<ul class="list-unstyled">
				</ul>
			</div>

			<div class="col-xs-6 col-xs-2">
				<ul class="list-unstyled">

					<li class="active"><a style="color:#337ab7; font-weight: bold;" href="#pages/statuts">Nos Status</a></li>
					<li><a style="color:#337ab7; font-weight: bold;"  href="#pages/reglements">Nos Reglements Interieurs</a></li>
					<li><a style="color:#337ab7; font-weight: bold;"  href="#pages/membres">Nos Membres</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-xs-2">

				<ul class="list-unstyled">
					<li><a style="color:#337ab7; font-weight: bold;"  href="#pages/projectsEndUser">Nos Realisations</a></li>
					<li><a style="color:#337ab7; font-weight: bold;"  href="#pages/eventCalendar">Calendrier des
							Evenements</a></li>
					<li><a style="color:#337ab7; font-weight: bold;"  href="#pages/meetings">Rapports de Reunions</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-xs-3 text-center">

				<button class="btn btn-info btn-icon-stacked"
					ng-click="openInNewTab('https://www.facebook.com/arelbou.togo')">
					<i class="fa fa-2x fa-facebook"></i> <span>Rejoignez-nous <br>Sur
						Facebook
					</span>
				</button>
				<button class="btn btn-primary btn-icon-stacked"
					ng-click="openInNewTab('https://twitter.com/arelboutg1')">
					<i class="fa fa-2x fa-twitter"></i> <span>Rejoignez-nous <br>Sur
						Twitter
					</span>
				</button>
			</div>


			<div class="col-xs-12 col-xs-3 text-center">
				<button class="btn btn-inverse btn-icon-stacked"
					ng-click="openInNewTab('https://plus.google.com/u/0/111672537913413336174/posts?hl=en')">
					<i class="fa fa-2x fa-google-plus"></i> <span>Rejoignez-nous
						<br>Sur Gougle+
					</span>
				</button>
				<button class="btn btn-inverse btn-icon-stacked"
					ng-click="openInNewTab('https://www.linkedin.com/in/arelbou-togo-5a75ba121?trk=nav_responsive_tab_profile')">
					<i class="fa fa-2x fa-linkedin"></i> <span>Rejoignez-nous <br>Sur
						Linkedin
					</span>
				</button>

			</div>
		</div>
	</div>
</section>