<div ng-include="'pages/menubg.html'"></div>
<div class="bg-white">
	<div class="container" ng-controller="userCtrl">
		<div class="row">
			<div class="item col-lg-9 col-md-6 col-xs-12">
				<div class="page-section">

					<h1 class="page-section-heading">Nos Chers Membres</h1>

					<div class="row" id="userList">
						<div ng-repeat="u in users" class="col-xs-4 col-sm-2">
							<a href="" ng-click="showUserModal(u)"><img
								fallback-src="images/members/default-avatar.png"
								src="images/members/::u.id::.jpg"
								class="img-thumbnail img-responsive img-circle" id="personImage"
								max-width="50px"></a>
							<h5 class="text-center">
								<strong>::u.firstName+' '+u.lastName:: </strong>
							</h5>
							<h5 class="text-center">::u.position.name:: depuis
								::u.membershipDate|date:'yyyy'::</h5>
							<hr>
						</div>
					</div>

					<div class="row">

						<div class="tree">
							<ul>
								<li><a href="#"><img src="images/members/guy-1.jpg"
										alt="Pas d'image"
										class="img-thumbnail img-responsive img-circle"
										max-width="120px"></a>
									<ul>
										<li><a href="#"><img src="images/members/woman-1.jpg"
												alt="Pas d'image"
												class="img-thumbnail img-responsive img-circle"
												max-width="120px"></a>
											<ul>
												<li><a href="#">Grand Child</a></li>
											</ul></li>
										<li><a href="#">Child</a>
											<ul>
												<li><a href="#">Grand Child</a></li>
												<li><a href="#">Grand Child</a>
													<ul>
														<li><a href="#">Great Grand Child</a></li>
														<li><a href="#">Great Grand Child</a></li>
														<li><a href="#">Great Grand Child</a>
															<ul>
																<li><a href="#">Great Great Grand Child</a></li>
																<li><a href="#">Great Great Grand Child</a></li>
																<li><a href="#">Great Great Grand Child</a></li>
															</ul></li>
													</ul></li>
												<li><a href="#">Grand Child</a></li>
											</ul></li>
									</ul></li>
							</ul>
						</div>

					</div>

					<div id="myModal" class="modal fade" tabindex="-1" role="dialog"  
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header bg-info">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">X</button>
									<div class="row">
										<div class="col-xs-2 col-sm-2 col-md-2">
											<img src="images/members/::currUser.id::.jpg"
												fallback-src="images/members/default-avatar.png"
												max-width="50px"
												class="img-thumbnail img-responsive img-circle">
										</div>
										<div class="col-xs-1 col-sm-1 col-md-1"></div>
										<div class="col-xs-8 col-sm-8 col-md-8">
											<strong><h4 id="myModalLabel" class="text-justify"></h4></strong>
											<h4 class="text-justify" ng-show="currUser.city">
												<i class="fa fa-fw fa-map-marker fa-2x"></i>::currUser.city::
											</h4>
											<h4 class="text-justify" ng-show="currUser.phone">
												<i class="fa fa-fw fa-phone fa-2x"></i> ::currUser.phone::
											</h4>
											<h4 class="text-justify" ng-show="currUser.email">
												<i class="fa fa-fw fa-envelope-o fa-2x"></i><a
													ng-href="mailto: ::currUser.email::">::currUser.email::</a>
											</h4>
											<h4 class="text-justify">
												<i class="fa fa-fw fa-user fa-2x"></i> Membre depuis
												::currUser.membershipDate|date::
											</h4>
										</div>
									</div>

								</div>
								<div class="modal-body">
									<div class="container-fluid">
										<div class="row">
											<div class="tree">
												<ul>
													<li><a href="#"><img
															src="images/members/guy-1.jpg" alt="Pas d'image"
															class="img-thumbnail img-responsive img-circle"
															max-width="120px"></a>
														<ul>
															<li><a href="#"><img
																	src="images/members/woman-1.jpg" alt="Pas d'image"
																	class="img-thumbnail img-responsive img-circle"
																	max-width="120px"></a>
																<ul>
																	<li><a href="#">Grand Child</a></li>
																</ul></li>
															<li><a href="#">Child</a>
																<ul>
																	<li><a href="#">Grand Child</a></li>
																	<li><a href="#">Grand Child</a>
																		<ul>
																			<li><a href="#">Great Grand Child</a></li>
																			<li><a href="#">Great Grand Child</a></li>
																			<li><a href="#">Great Grand Child</a>
																				<ul>
																					<li><a href="#">Great Great Grand Child</a></li>
																					<li><a href="#">Great Great Grand Child</a></li>
																					<li><a href="#">Great Great Grand Child</a></li>
																				</ul></li>
																		</ul></li>
																	<li><a href="#">Grand Child</a></li>
																</ul></li>
														</ul></li>
												</ul>
											</div>
										</div>

									</div>
								</div>
								<div class="modal-footer bg-info">
									<button class="btn btn-lg btn-default center-block"
										data-dismiss="modal" aria-hidden="true">Fermer</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="item col-lg-3 col-md-6 col-xs-12">
				<div class="page-section">
					<div ng-include="'pages/sidebar.html'"></div>
				</div>
			</div>
		</div>
		<br />
		<!-- // END .container -->
	</div>
	<!-- // END .bg-white -->
</div>
<!-- // END #content -->

