<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppCtrl"
	class="ng-class:app.settings.htmlClass">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>U.K.A.D - Togo e.V</title>
<!-- my Custom script comes here -->
<link href="css/vendor/all.css" rel="stylesheet">

<link href="css/app/app.css" rel="stylesheet">

<link href="js/vendor/textAngular/textAngular.css" rel="stylesheet">

</head>

<body>

	<!-- Fixed navbar -->
	<div
		class="navbar navbar-main navbar-skin-cover navbar-static-top navbar-absolute-top navbar-size-large"
		role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#main-nav">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">U.K.A.D - Togo e.V</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="main-nav">
				<ul class="nav navbar-nav">
					<li class="dropdown active"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown">Notre
							association <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">U.K.A.D Togo e.V</li>
							<li class="active"><a href="#pages/statuts">Nos Status</a></li>
							<li><a href="#pages/reglements">Nos Reglements
									Interieurs</a></li>
							<li><a href="#pages/membres" ng-click="getAllUsers()">Nos
									Membres</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Activites <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Activites</li>
							<li><a href="#/">Nos Realisations</a></li>
							<li><a href="#/">Calendrier des Evenements</a></li>
							<li><a href="#/">Rapports de Reunions</a></li>
						</ul></li>
				</ul>
				<form class="navbar-form navbar-left margin-none" ng-submit="findMembers()">
					<div class="search-1">
						<div class="input-group">
							<span class="input-group-addon"><i class="icon-search"></i></span>
							<input ng-model="searchText" type="text" class="form-control form-control-w-250"
								placeholder="Rechercher un membre ...">
						</div>
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<!-- Login -->

					<li class="dropdown" ng-show="!theUser.id>0" ng-cloak><a
						href="#" class="dropdown-toggle" data-toggle="dropdown"> <i
							class="fa fa-fw fa-lock"></i> Connexion
					</a>
						<div class="dropdown-menu dropdown-size-280">
							<form role="form" ng-submit="login()">
								<div class="alert alert-danger" ng-show="failedLogin">
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
									</button>
									Nom d'utilisateur/mot de passe invalide.
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
										<input type="email" class="form-control"
											placeholder="Address E-mail" ng-model="userName">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-shield"></i></span>
										<input type="password" class="form-control"
											placeholder="Mot de passe" ng-model="password">
									</div>
								</div>

								<div class="text-right">
									<button type="submit"  
										class="btn btn-primary">
										Connexion <i class="fa fa-sign-in"></i>
									</button>
								</div>
							</form>
						</div></li>


					<!-- // END login -->
					<!-- Sign up -->
					<li class="dropdown" ng-show="!theUser.id>0" ng-cloak><a
						href="#" class="dropdown-toggle" data-toggle="dropdown"> <i
							class="fa fa-fw fa-plus"></i> Devenir Membre
					</a>
						<div class="dropdown-menu dropdown-size-280">
							<form role="form" ng-submit="createUser()">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group form-control-default">
											<label for="exampleInputFirstName">Prenom</label> <input
												ng-model="newUser.firstName" type="text"
												class="form-control" id="exampleInputFirstName"
												placeholder="Your first name">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group form-control-default">
											<label for="exampleInputLastName">Nom</label> <input
												ng-model="newUser.lastName" type="text" class="form-control"
												id="exampleInputLastName" placeholder="Your last name">
										</div>
									</div>
								</div>
								<div class="form-group form-control-default required">
									<label for="exampleInputEmail1">Addresse Email</label> <input
										ng-model="newUser.email" type="email" class="form-control"
										id="exampleInputEmail1" placeholder="Enter email">
								</div>
								<div class="form-group form-control-default required">
									<label for="exampleInputPassword1">Mot de passe</label> <input
										ng-model="newUser.password" type="password"
										class="form-control" id="exampleInputPassword1"
										placeholder="Password">
								</div>
								<button type="submit" class="btn btn-primary">Enregistrer</button>
							</form>
						</div></li>

					<!-- // END sign up -->
					<!-- user -->

					<li class="dropdown user" ng-show="theUser.id>0" ng-cloak><a
						href="#" class="dropdown-toggle" data-toggle="dropdown"> <img
							src="images/members/::theUser.id::.jpg" alt="" class="img-circle" />::theUser.firstName
							+' '+theUser.lastName::<span class="caret"></span>
					</a>
						<ul class="dropdown-menu" role="menu" ng-show="theUser.id>0">
							<li><a href="#pages/profile"><i class="fa fa-user"></i>Profile</a></li>
							<li ng-show="theUser.status==1"><a href="#pages/events"><i
									class="fa fa-wrench"></i>Evenement</a></li>
							<li ng-show="theUser.status==1"><a href="#pages/email"><i
									class="fa fa-wrench"></i>Annonces</a></li>
							<li ng-show="theUser.canApprove && theUser.status==1"><a
								href="#pages/approveMembers" ng-click="getPendingMembers()"><i
									class="fa fa-wrench"></i>Approver les membres</a></li>
							<li><a href="#/" ng-click="logout()"><i
									class="fa fa-sign-out"></i>Deconnexion</a></li>
						</ul></li>

					<!-- // END user -->
				</ul>
			</div>
			<!-- /.navbar-collapse -->

		</div>
	</div>

	<div ui-view class="ui-view-main"></div>
	<!-- Footer -->




	<footer class="footer">
		<strong>U.K.A.D - Togo e.V</strong> &copy; Copyright 2016
	</footer>
	<!-- // Footer -->

	<!-- Inline Script for colors and config objects; used by various external scripts; -->
	<script>
		var colors = {
			"danger-color" : "#e74c3c",
			"success-color" : "#81b53e",
			"warning-color" : "#f0ad4e",
			"inverse-color" : "#2c3e50",
			"info-color" : "#2d7cb5",
			"default-color" : "#6e7882",
			"default-light-color" : "#cfd9db",
			"purple-color" : "#9D8AC7",
			"mustard-color" : "#d4d171",
			"lightred-color" : "#e15258",
			"body-bg" : "#f6f6f6"
		};
		var config = {
			theme : "real-estate",
			skins : {
				"default" : {
					"primary-color" : "#3498db"
				}
			}
		};
		
		
	</script>
	<script src="js/vendor/all.js"></script>
	<!-- Vendor Scripts Standalone Libraries -->
	<!-- 
 <script src="js/vendor/core/all.js"></script> 
 <script src="js/vendor/core/jquery.js"></script> 
 <script src="js/vendor/core/bootstrap.js"></script> 
 <script src="js/vendor/core/breakpoints.js"></script> 
 <script src="js/vendor/core/jquery.nicescroll.js"></script> 
 <script src="js/vendor/core/isotope.pkgd.js"></script> 
 <script src="js/vendor/core/packery-mode.pkgd.js"></script> 
 <script src="js/vendor/core/jquery.grid-a-licious.js"></script> 
 <script src="js/vendor/core/jquery.cookie.js"></script> 
 <script src="js/vendor/core/jquery-ui.custom.js"></script> 
 <script src="js/vendor/core/jquery.hotkeys.js"></script> 
 <script src="js/vendor/core/handlebars.js"></script> 
 <script src="js/vendor/core/jquery.hotkeys.js"></script> 
 <script src="js/vendor/core/load_image.js"></script> 
 <script src="js/vendor/core/jquery.debouncedresize.js"></script> 
 <script src="js/vendor/tables/all.js"></script> 
 <script src="js/vendor/forms/all.js"></script> 
 <script src="js/vendor/media/all.js"></script>
 -->
	<!--script src="js/vendor/player/all.js"></script-->
	<!--  
 <script src="js/vendor/charts/all.js"></script> 
 <script src="js/vendor/charts/flot/all.js"></script> 
 <script src="js/vendor/charts/easy-pie/jquery.easypiechart.js"></script> 
 <script src="js/vendor/charts/morris/all.js"></script> 
 <script src="js/vendor/charts/sparkline/all.js"></script> 
 <script src="js/vendor/maps/vector/all.js"></script> 
 <script src="js/vendor/tree/jquery.fancytree-all.js"></script> 
 <script src="js/vendor/nestable/jquery.nestable.js"></script> 
 <script src="js/vendor/angular/angular.js"></script>   
    <script src="js/vendor/angular/angular-resource.js"></script>   
    <script src="js/vendor/angular/angular-sanitize.js"></script>   
    <script src="js/vendor/angular/angular-ui-router.js"></script>   
    <script src="js/vendor/angular/angular-touch.js"></script>  
    <script src="js/vendor/angular/ui-utils.js"></script>  
    -->
	<script src="js/vendor/angular/angular-cookies.min.js"></script>
	<script src="js/vendor/smartDataTable/smart-table.min.js"></script>
	<script src="js/vendor/fileupload/angular-file-upload.min.js"></script>
	<script src="js/vendor/textAngular/textAngular-rangy.min.js"></script>
	<script src="js/vendor/textAngular/textAngular-sanitize.min.js"></script>
	<script src="js/vendor/textAngular/textAngular.min.js"></script>
	<script src="js/app/app.js"></script>
	
		

</body>

</html>